#isize {
  background-size: cover;
  background-repeat: no-repeat;
}

#media1 {
  background-color: #fdb927;
  color: black;
  font-family: sans-serif;
}

.list {
  color: blue;
}

.main-body {
  background-color: Black;
  color: White;
  }

.body-media {
  background-color: #552583;
  color: #FDB927;
}

.body-projects {
  background-color: lightgrey;
}
