
html {
    box-sizing: border-box;
}

#isize {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#media1 {
  background-color: #fdb927;
  color: black;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

#media1:hover {
  background-color: black;
  color: #fdb927;
}

.home, .pronav {
  padding: 20px 10px;
}

.home a {
  padding: 10px 10px;
}

.pronav a {
  padding: 0px 10px;
  text-decoration: none;
  color: #552583;
}

.pronav a:hover {
  color: #fdb927;
}

.navigation {
  background-color: #552583;
  padding: 20px 70px;
}

.navigation a {
  color: #fdb927;
  padding: 0px 10px;
}

.nav2 {
  background-color: #552583;
  padding: 20px 20px;
}

.nav2 a {
  color: #fdb927;
  padding: 0px 10px;
  text-decoration: none;
}

.nav2 a:hover {
  color: black
}

.list {
  color: blue;
}

.main-body {
  background-color: Black;
  color: White;
  }

.body-media {
  background-color: #552583;
  color: #FDB927;
}

.body-projects {
  background-color: lightgrey;
}

.body-blog {
  background: black;
  color: white;
}

.bottom {
    position: relative;
    bottom: 0;
    font-size: 0.75rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container h2 {
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
}

.container p {
  margin-left: 0;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0px;
  background-color: white;
  color: black;
  padding: 20px;

  border: 1px solid purple;
}
.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

hr {
  margin-top: 100px;
}
